/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

.app {
  margin-left: 420px;
  margin-top: 70px;
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  background: #dbe2ce;
}

.question {
  background-color: rgb(0, 0, 0);
  border-radius: 200px;
  color: #fff;
  text-align: center;
  margin-top: 30px;
  margin-left: 10px;
  width: 400px;
  height: 80px;
}

.option {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.answer {
  width: 100px;
  height: 22px;
  color: white;
  text-align: center;
  background-color: black;
  border-radius: 15px;
}

.icon {
  float: right;
  font-size: large;
  background-color: burlywood;
}

.btn {
  background-color: burlywood;
  width: 80px;
  border-radius: 20px;
}
